* {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
}

.heading {
  font-size: 3rem;
}

.cards {
  display: flex;
  overflow-x: auto;
  gap: 20px;
}

.card-image {
  max-height: 300px;
}
