* {
  box-sizing: border-box;
}

.container {
  padding-left: 3vw;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 3rem;
}

.input {
  margin-right: 3vw;
}

.cards {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  height: 350px;
  align-items: center;
}

.card {
  position: relative;
  transition: transform 0.2s;
}

.card:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.card:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;

  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s ease;
  opacity: 0;

  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.card-image {
  max-height: 230px;
}

@media screen and (min-width: 768px) {
  .card-image {
    max-height: 300px;
  }
}
