* {
  box-sizing: border-box;
}

html {
  font-style: 62.5%;
}

.my-container {
  padding-left: 3vw;
  padding-bottom: 3vw;
}

.my-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-heading {
  font-size: 3rem;
}

.my-input {
  margin-right: 3vw;
}

.my-cards {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  height: 350px;
  align-items: center;
}

.my-card {
  position: relative;
  transition: transform 0.2s;
}

.my-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.my-card:hover .my-overlay {
  opacity: 1;
}

.my-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;

  display: flex;
  justify-content: space-around;

  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s ease;
  opacity: 0;

  text-align: center;
  color: white;
  font-size: 0.7rem;
}

.my-card-image {
  max-height: 230px;
}

@media screen and (min-width: 768px) {
  .my-card-image {
    max-height: 300px;
  }
}

.my-removed-card {
  position: relative;
  border-style: dotted;

  display: flex;
  align-items: center;
  justify-content: center;
}

.my-removed-card-text {
  font-size: 1.25rem;
  cursor: pointer;
}

.my-removed-card-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.35rem;
  cursor: pointer;
}
